@charset "UTF-8";
/*

cores 
cinza #536872
creme #F0E7D6
Azul #0F4C83*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    color: #0F4C83;
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    color: #536872;
    margin: 2;
}

p#p2{
    margin-bottom: 5px;
}

body, html{
    background-image: linear-gradient(#F0E7D6, #b6b0a4);
    width: 100vw;
    height: 100vh;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section#login{
    display: block;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 0px solid black;
    box-shadow: 0px 2px 5px hsla(37, 10%, 64%, 0.801);
}

section#login > div#imagem{
    display: block;
    background: url(../img/imgl.jpg);
    background-size: cover;
    background-position: left bottom ;
    height: 200px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    

}

section#login > div#form{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

form  input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0F4C83;
    color: #F0E7D6;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 5px;

}
form .login input[type=submit]:hover{
    background-color: #536872 ;
}

form > .campo {
    background-color: #536872;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 5px 5px;
    border-radius: 10px;
    color: #F0E7D6;
    border: 2px solid #536872;
}



.campo span{
    font-size: 2em;
}

.campo input{
    background-color: #f0e7d6;
    color: #536872;
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 10px;


}
.campo input:focus-within{
    background-color: white;
    border: none;

}

form span {
    margin-right: 10px;
    margin-left: 10px;
}

form  label{
    display: none;
}

form  .botao {
    display: flex;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #F0E7D6;
    color: #536872;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 5px;
}

form  .botao:hover{
    background-color: #536872;
    color: #F0E7D6;
    border: #F0E7D6;

}



